#CustomTitle {
    margin-left: 60px;
    margin-right: 60px;
    font-size: 40px;
    text-align: center;
}

#Header {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    text-align: center;
    line-height: 34px;
}

#Description {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;   
    text-align: center;
}

#Continue {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#Credits {
    position: relative;
    top: 120px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    font-size: 13px;
    text-align: center;
}

#StepLabel {
    text-align: center;
}