.sessions {
    --background: rgb(0, 0, 255);
}

.hoursSpent {
    --background: green;
}

.streak {
    --background: red; 
}

.badge {
    margin-right: 5px;
}

.DeleteButton {
    --background: rgb(54, 54, 54);
}

#MarkAsComplete {
    position: absolute;
    top: 10px;
    right: 80px;
    --background: rgb(54, 54, 54)
}

.badHabit {
    background-color: rgb(60, 0, 0); 
}