.sessions {
    --background: rgb(0, 0, 255);
}

.hoursSpent {
    --background: green;
}

.streak {
    --background: red; 
}

.badge {
    margin-right: 5px;
}

.DeleteButton {
    --background: rgb(54, 54, 54);
}