#Title {
    font-size: 40px;
    text-align: center;
}

#Header {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 25px;
    text-align: center;
    line-height: 34px;
}

#Description {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;   
    text-align: center;
}

#footer {
    position: relative;
    height: 20px;
    width: 100%;
}

#Continue {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#Credits {
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    text-align: center;
    bottom: 10px; 
}