#Title {
    position: relative;
    padding: 0px;
    margin: 0px;
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
}

.Description {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;    
    text-align: center;
    line-height: 22px;
}

.prompt {
    padding-left: 20px;
    padding-right: 20px;
}

#list {
    margin-left: 20px;
    margin-right: 20px;
}

#Continue {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#footer {
    position: relative;
    top: 10%;
    height: 5%;
    width: 100%;
}

#AddText {
    text-align: center;
    width: 100%;
}

.card {
    padding: 20px;
}

.highlight {
    color: rgb(235, 235, 235);
}