#Title {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: auto;
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 60px;
    padding-right: 60px;
    font-weight: bold;
}

ion-text {
    margin: 0px;
    padding: 0px;
    height: auto;
}

.ios {
  --ion-background-color: rgb(20, 20, 20);
}

ion-chip.ios {
    height: auto;
    line-height: 20px;
} 

#Title.ios {
    font-size: 40px;
}

.Description {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;    
    text-align: center;
    line-height: 22px;
}

.prompt {
    padding-left: 20px;
    padding-right: 20px;
}

#list {
    margin-left: 20px;
    margin-right: 20px;
}

#Continue {
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

#footer {
    position: relative;
    top: 10%;
    height: 5%;
    width: 100%;
}

#AddText {
    text-align: center;
    width: 100%;
}

.card {
    padding: 20px;
}

.highlight {
    color: rgb(235, 235, 235);
}

.toast {
    --background: rgb(34, 34, 34);
    --color: white;
}