#TwentyOneDayCard {
    --background: rgb(42, 42, 42);
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
}

#Subtitle {
    line-height: 20px;
}

.green {
    background-color: rgb(57, 63, 13);
}

#Content {
    padding-left: 0px;
}